<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mapper.DormitoryPlanBedMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hb.entity.DormitoryPlanBed">
		<id column="ID" property="id" />
		<result column="PLAN_ID" property="planId" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATE" property="state" />
		<result column="OPERATOR_ID" property="operatorId" />
		<result column="BED_ID" property="bedId" />
	</resultMap>

	<select id="selectPlanBed" resultType="java.util.Map"
		parameterType="java.util.Map">
		SELECT
		bed.`BED_CODE`,
		bed.`BED_NUMBER`,
		bed.`ID` AS BED_ID,
		dorm.*
		FROM
		`dormitory_plan_bed` planbed,
		`sys_bed` bed,
		`sys_dorm` dorm
		WHERE
		planbed.`BED_ID` = bed.`ID`
		AND dorm.id = bed.`DORM_ID`
		<if test="param.planId != null and param.planId != ''">
			AND planbed.`PLAN_ID`=
			#{param.planId,jdbcType=VARCHAR} 
		</if>

	</select>

</mapper>
