<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mapper.DormitoryPartBedMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hb.entity.DormitoryPartBed">
		<id column="ID" property="id" />
		<result column="BED_ID" property="bedId" />
		<result column="PART_ID" property="partId" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="Operator_id" property="operatorId" />
		<result column="STATE" property="state" />
	</resultMap>

	<select id="selectPartBed" resultType="java.util.Map"
		parameterType="java.util.Map">

		SELECT
		partbed.*,
		bed.`BED_CODE`,
		bed.`BED_NUMBER`,
		dorm.`BUILDING_NAME`,
		bu.`BUILDING_NAME`,
		dorm.`FLOOR`,
		bu.`AREA_NAME`,
		bu.`CAMPUS_NAME`,
		dorm.`DORM_NAME`,
		partbed.`PART_ID`
		FROM
		`dormitory_part_bed` partbed,
		`sys_bed` bed,
		`sys_dorm` dorm,
		`sys_build` bu
		WHERE partbed.`BED_ID` =
		bed.`ID`
		AND dorm.`ID` = bed.`DORM_ID`
		AND bu.`ID` = dorm.`BUILDING_ID`

		<if test="param.state != null and param.state != ''">
			AND partbed.`STATE` = #{param.state,jdbcType=VARCHAR}
		</if>

		<if test="param.bedIdList != null and param.bedIdList != ''">
			AND bed.`ID` in ${param.bedIdList}
		</if>

		<if test="param.partId != null and param.partId != ''">
			and partbed.PART_ID = #{param.partId,jdbcType=VARCHAR}
		</if>
		order by dorm.`DORM_CODE`

	</select>

	<select id="selectPartBedByStu" resultType="java.util.Map"
		parameterType="java.util.Map">

		SELECT
		partbed.*,
		bed.`BED_CODE`,
		bed.`BED_NUMBER`,
		dorm.`BUILDING_NAME`,
		bu.`BUILDING_NAME`,
		dorm.`FLOOR`,
		bu.`AREA_NAME`,
		bu.`CAMPUS_NAME`,
		dorm.`DORM_NAME`,
		partbed.`PART_ID`,
		partbed.`STATE`
		FROM
		`dormitory_part_bed` partbed,
		`sys_bed` bed,
		`sys_dorm` dorm,
		`sys_build` bu
		WHERE partbed.`BED_ID` = bed.`ID`
		AND dorm.`ID` = bed.`DORM_ID`
		AND bu.`ID` = dorm.`BUILDING_ID`
		AND partbed.`PART_ID` =
		(SELECT
		partstu.`PART_ID`
		FROM
		`dormitory_part_stu` partstu
		WHERE partstu.`STUDENT_ID` = #{param.stuId,jdbcType=VARCHAR})

	</select>
</mapper>
