<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mapper.DormitoryPlanStuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hb.entity.DormitoryPlanStu">
        <result column="ID" property="id" />
        <result column="STUDENT_ID" property="studentId" />
        <result column="PLAN_ID" property="planId" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="STATE" property="state" />
        <result column="OPERATOR_ID" property="operatorId" />
    </resultMap>
    <select id="selectPlanStudent" resultType="java.util.Map"
            parameterType="java.util.Map">
        select
        i.*,c.`campus_name`,m.`name`
        from
        student_info i,sys_campus c,sys_major m
        where
        i.`CAMPUS_ID`=c.`id`
        and i.`MAJOR_ID`=m.`id`

        <if test="param.campusId != null and param.campusId != ''">
            and p.CAMPUS_ID = #{param.campusId,jdbcType=VARCHAR}
        </if>

        <if test="param.majorId != null and param.majorId != ''">
            and p.MAJOR_ID = #{param.majorId,jdbcType=VARCHAR}
        </if>

        <if test="param.sex != null and param.sex != ''">
            and p.SEX = #{param.sex,jdbcType=VARCHAR}
        </if>

        <if test="param.planId != null and param.planId != ''">
            and i.`ID` in (select dps.`STUDENT_ID` from `dormitory_plan_stu` dps where dps.`PLAN_ID`=
            #{param.planId,jdbcType=VARCHAR} )
        </if>

    </select>
</mapper>
